@font-face {
  font-family: Shabnam;
  src: url('./font/Shabnam.eot');
  src: url('./font/Shabnam.eot?#iefix') format('embedded-opentype'),
      url('./font/Shabnam.woff') format('woff'),
      url('./font/Shabnam.ttf') format('truetype');
  font-weight: normal;
}
      
@font-face {
  font-family: Shabnam;
  src: url('./font/Shabnam-Bold.eot');
  src: url('./font/Shabnam-Bold.eot?#iefix') format('embedded-opentype'),
      url('./font/Shabnam-Bold.woff') format('woff'),
      url('./font/Shabnam-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Shabnam;
  src: url('./font/Shabnam-Light.eot');
  src: url('./font/Shabnam-Light.eot?#iefix') format('embedded-opentype'),
      url('./font/Shabnam-Light.woff') format('woff'),
      url('./font/Shabnam-Light.ttf') format('truetype');
  font-weight: 300;
}

.App {
  padding-block-start: 0.5%;
  text-align: right;
  font-family: 'Shabnam', sans-serif;
  background-color: #fafafa;
  color: black;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
